<!-- Start Homepage -->
	<div id="homepage">
		
		<div class="container">
			<div class="sixteen columns">
				<!-- <img alt="" class="logo" src="images/logo.png" /> -->
			</div>
			
			<div class="slider-text">
				<div class="sixteen columns">
					<div class="line"></div>
				</div>
				
				<div class="twelve columns">
					<div id="slidecaption"></div>
				</div>
				
				<div class="four columns">
					<a id="prevslide" class="load-item"></a>
					<a id="nextslide" class="load-item"></a>
				</div>
			</div>
			
		</div>
	</div>
	<!-- End Homepage -->
	
	
	<!-- Start Navigation -->
	<nav>
	
		<div class="container">
			
			<div class="twelve columns">
				
				<!-- Start Nav Links -->
				<ul class="links">
					<li><a href="#parallax1">Verse</a></li>
					<li><a href="#about">Location</a></li>
					<li><a href="#services">Hotels</a></li>
					<li><a href="#culture">Flights</a></li>
					<li><a href="#portfolio">Packages</a></li>
					<li><a href="#contact">RSVP</a></li>
					<li><a href="#homepage"><img alt="" src="assets/top-icon.png" /></a></li>
				</ul>
				<!-- End Nav Links -->
				
				<!-- Start Dropmenu for mobile -->		
				<select class="dropmenu" name="dropmenu" onChange="moveTo(this.value)">
					<option value="" selected="selected">Menu</option>
					<option value="#homepage">Top</option>
					<option value="#about">Location</option>
					<option value="#services">Hotels</option>
					<option value="#culture">Flights</option> 
					<option value="#portfolio">Packages</option> 
					<option value="#contact">RSVP</option> 
				</select>
				<!-- End Dropmenu for mobile -->
				
			</div>
			
			<div class="four columns">
			
				<!-- Social Icons -->	
				<ul class="social-icons">
					<li><a href="#"><img alt="" src="assets/social-icons/facebook.png" /></a></li>
					<li><a href="#"><img alt="" src="assets/social-icons/twitter.png" /></a></li>
					<li><a href="#"><img alt="" src="assets/social-icons/behance.png" /></a></li>
					<li><a href="#"><img alt="" src="assets/social-icons/googleplus.png" /></a></li>
				</ul>
				<!-- End Icons -->
			
			</div>
		
		</div>
	
	</nav>
	<!-- End Navigation -->	
	
	<!-- Start First Parallax Background (Quote) -->	
	<div id="parallax1">
		<div class="bg1"></div>
		<div class="pattern"></div>
		<div class="container">
			<div class="vertical-text">
				<p class="prlx-quote">Though one may be overpowered, two can defend themselves. A cord of three strands is not quickly broken</p>
				<div class="prlx-author">ECCLESIASTES 4:12</div>
			</div>
		</div>
	</div>
	<!-- End First Parallax Background (Quote) -->
	
	<!-- Start About Page -->	
	<div id="about">
	
		<div class="container">


		
			<div class="sixteen columns">
				
				<h1>Wedding Location</h1>
				<div class="one-text">
					<p>We are really excited to be having an outdoor wedding. We all get to enjoy the wonderful sunshine and beautiful surroundings of Selçuk, Izmir in Turkey. Both the service and the reception will be held in the same place, which we will confirm very early in the new year, so be sure to check back.</p>
					<p>Selçuk is Hot! In June the average temperature is 31C (88F), but as the reception moves into the evening you may need a light cardigan. Although they will be lots of Turkish dancing to keep you warm!</p>
				</div>
			</div> 
			
			<!-- Start Profile -->
			<div class="one-third column">
			    <div class="img-wrp">
	    			<img alt="" class="scaleimg" src="assets/team/profile1.jpg" />
	    			<div class="overlay-wrp">
	        			<div class="overlay"></div>
	        			<ul class="social-icons overlay-content">
	        				<li><a href="#"><img alt="" src="assets/social-icons/facebook-green.png" /></a></li>
	        				<li><a href="#"><img alt="" src="assets/social-icons/twitter-green.png" /></a></li>
	        				<li><a href="#"><img alt="" src="assets/social-icons/linkedin-green.png" /></a></li>
	        			</ul>
	    			</div>
			    </div>
				<h3>Arvalya</h3>
				<p class="job-position">Wedding Location</p> 
				<p class="description">Lorem ipsum dolor sit amet, consectetur <a href="#homepage">adipiscing elit</a>. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
			</div>
			<!-- End Profile -->	
			
			<!-- Start Profile -->			
			<div class="one-third column">
			    <div class="img-wrp">
	    			<img alt="" class="scaleimg" src="assets/team/profile2.jpg" />
	    			<div class="overlay-wrp">
	        			<div class="overlay"></div>
	        			<ul class="social-icons overlay-content">
	        				<li><a href="#"><img alt="" src="assets/social-icons/facebook-green.png" /></a></li>
	        				<li><a href="#"><img alt="" src="assets/social-icons/twitter-green.png" /></a></li>
	        				<li><a href="#"><img alt="" src="assets/social-icons/linkedin-green.png" /></a></li>
	        				<li><a href="#"><img alt="" src="assets/social-icons/dribble-green.png" /></a></li>
	        			</ul>
	    			</div>
			    </div>
				<h3>Selçuk</h3>
				<p class="job-position">Nearest Town</p> 
				<p class="description">Phasellus a nisi urna, facilisis facilisis diam. Vivamus enim ligula, sollicitudin nec porttitor nec, commodo vel justo. Nunc in mattis ipsum. Mauris accumsan pretium diam, sit amet iaculis purus ullamcorper ac. Donec pulvinar metus a ipsum varius suscipit. Mauris ut nisi at tortor molestie rhoncus ultrices quis nisi.</p>                                                 
			</div>
			<!-- End Profile -->	
			
			<!-- Start Profile -->			
			<div class="one-third column">
			    <div class="img-wrp">
	    			<img alt="" class="scaleimg" src="assets/team/profile3.jpg" />
	    			<div class="overlay-wrp">
	        			<div class="overlay"></div>
	        			<ul class="social-icons overlay-content">
	        				<li><a href="#"><img alt="" src="assets/social-icons/facebook-green.png" /></a></li>
	        				<li><a href="#"><img alt="" src="assets/social-icons/twitter-green.png" /></a></li>
	        				<li><a href="#"><img alt="" src="assets/social-icons/myspace-green.png" /></a></li>
	        			</ul>
	    			</div>
			    </div>
				<h3>Izmir Airport</h3>
				<p class="job-position">Nearest Airport</p> 
				<p class="description">Aliquam erat volutpat. Nullam placerat enim nec quam dapibus ac egestas massa pulvinar. Nunc in sapien vitae orci viverra lacinia luctus id sapien. Mauris ut nisi at tortor molestie rhoncus ultrices quis nisi. Sed massa sapien, dapibus vel porta non, congue id nisl.</p>                                                 
			</div>
			<!-- End Profile -->
			
		</div>
		
	</div>
	<!-- End About Page -->
	
	
	<!-- Start First Parallax Background (Quote) -->	
	<div id="parallax5">
		<div class="bg1"></div>
		<div class="pattern"></div>
		<div class="container">
			<div class="vertical-text">
				<p class="prlx-quote">Though one may be overpowered, two can defend themselves. A cord of three strands is not quickly broken</p>
				<div class="prlx-author">ECCLESIASTES 4:12</div>
			</div>
		</div>
	</div>
	<!-- End First Parallax Background (Quote) -->



	
	
	<!-- Start Services Page -->
	<div id="services">
	
		<div class="container">
		
			<div class="sixteen columns">
				<h1>Hotel Examples</h1>
				<div class="one-text">
					<p>Selçuk and the surrounding areas have many places to stay, but we wanted to give you a couple of suggestion too get you started, the prices are estimates which we last last checked December 6th.</p>
				</div>
			</div>  
			
			<!-- Start Icons -->
			<div class="one-third column">
				<h3>HOTEL KALEHAN</h3>
				<div class="icon" style="background-image: url(./assets/icons/photo.png)"></div>
				<p class="description">Kalehan is an antique hotel, built and landscaped in the style of a 100 year old farmhouse using traditional materials and antique furniture in traditional Anatolian style. Approx £62 for a double room per night with breakfast included.</p>
				<p class="description">View The Hotel On Trip Advisor </p>                                                 
			</div>
					
			<div class="one-third column">
				<h3>HOTEL CANBERRA</h3>
				<div class="icon" style="background-image: url(./assets/icons/video.png)"></div>
				<p class="description">Canberra has a rooftop terrace with a panoramic view of the picturesque town. Free WiFi and lower cost with Turkish specialities made with fresh produce from the local farms served in the Canberra’s restaurant. Approx £23 double room per night (includes breakfast)
Triple rooms here were as low as £30 per night (including breakfast) when we last checked.</p>
<p class="description">View The Hotel On Trip Advisor </p>                                                 
			</div>
					
			<div class="one-third column">
				<h3>Another Hotel</h3>
				<div class="icon" style="background-image: url(./assets/icons/design.png)"></div>
				<p class="description">Nulla lacinia odio quis tellus malesuada quis pulvinar augue tincidunt. Quisque sit amet nunc enim. Vestibulum convallis odio fringilla lectus tincidunt bibendum. Aenean venenatis. Nullam imperdiet, est blandit tristique blandit, massa nunc fermentum eros, non ullamcorper dolor dolor at quam.</p>                                                 
			</div>	
			<!-- End Icons -->	
				
		</div>
			
	</div>
	<!-- End Services Page -->

		<!-- Start Second Parallax Background (Twitter) -->
	<div id="parallax2">
		<div class="bg2"></div>
		<div class="pattern"></div>
		<div class="container">
			<div class="vertical-text">
				<p class="prlx-quote">If everyone demanded peace instead of another television set, then there'd be peace.</p>
				<div class="prlx-author">John Lennon</div>
			</div>
		</div>
	</div>
	<!-- End Second Parallax Background (Twitter) -->
	
	
	<!-- Start Culture Page -->
	<div id="culture">
		
		<div class="container">
			<div class="sixteen columns">
				<h1>Flight Examples</h1>
				<div class="one-text">
					<p>The nearest airport to Selçuk is Izmir Adnan Menderes (ADB) Airport. Outside of package holidays we found that Manchester is the best place to fly out from if you are based in the North-East England and below are example of the prices we found which it seemed to be best directly from the airlines website.</p>
				</div>
			</div>
		</div>

		<div class="container">
		
			<div class="eight columns">
				<h4>LUFTANSA</h4>
				<p>Manchester - Izmir Return: £179 per person
Cheapest Tickets had outward flights on either June 5th/6th/7th with a return on June 10th/11th/12th
</p>
					<p>Visit Luthansa</p>                                                 
			</div>
				
			<div class="eight columns">
				<h4>TURKISH AIRLINES</h4>
				<p>Manchester - Izmir Return: £234 per person.
Other than Luftansa if the flights start to be filled Turkish Airlines were the next best.
				<p>Visit Turkish Airlines </p>                                                 
			</div>
		
		</div>
	
	</div>
	<!-- End Culture Page --> 
	
	
	<!-- Start Second Parallax Background (Twitter) -->
	<div id="parallax3">
		<div class="bg3"></div>
		<div class="pattern"></div>
		<div class="container">
			<div class="vertical-text">
				<p class="prlx-quote">If everyone demanded peace instead of another television set, then there'd be peace.</p>
				<div class="prlx-author">John Lennon</div>
			</div>
		</div>
	</div>
	<!-- End Second Parallax Background (Twitter) -->
	
	
	<!-- Start Culture Page -->
	<div id="portfolio">
		
		<div class="container">
			<div class="sixteen columns">
				<h1>Package Examples</h1>
				<div class="one-text">
					<p>With the beautiful resort town of Kuşadası just under 30 minutes away, you could turn the wedding to into a great holiday. Kusadasi is one of Turkey’s leading destinations, lots of sunshine and brimming with great activities, a wide array of entertainment options and stunning natural and historical attractions. This beautiful coastal region is lined with amazing sandy beaches, with the crystal clear waters of the Aegean lapping at the shore.</p>
				</div>
			</div>
		</div>
		<br/>
		<div class="container">
		
			<div class="eight columns">
				<h4>ALL INCLUSIVE 4 STAR-HOTEL</h4>
				<p>7 Days from £575 per person / 14 Days from £795 per person
</p>
					<p>Via Thomas Cook - Flying from Manchester</p>                                                 
			</div>
				
			<div class="eight columns">
				<h4>AQUA FANTASY ALL INCLUSIVE WATER PARK</h4>
				<p>Manchester - Izmir Return: £234 per person.
7 Days from £703 per person from Newcastle / 7 Days from £675 per person from Manchester
				<p>Via First Choice</p>                                                 
			</div>
		
		</div>
	
	</div>
	<!-- End Culture Page --> 
	
	
	<!-- Start Contact Page -->
	<div id="contact">
		<div class="pattern"></div>
		<div class="container">
			<div class="sixteen columns">
				
				<!-- Start Contact Block -->
				<div class="card">
					<h1 class="white">More Info or Questions</h1>
					<div class="lines">
						<p><a href="#" >Kevin: k@mann.ly</a></p>
						<p><a href="#" >Jay: jmturkiye@live.com</a></p>			
					</div>
					
					<ul class="contact-social-icons">
						<li><a href="#"><img alt="" src="assets/social-icons/facebook-big.png" ></a></li>
						<li><a href="#"><img alt="" src="assets/social-icons/twitter-big.png" ></a></li>
					</ul>
				</div>
				<!-- End Contact Block -->
				
			</div>
		</div>
		
		<div class="copyright">
			<p>© 2012 Kutcher studio. <a href="http://themes.tvda.eu/">Kutcher Template</a> by <a href="http://themes.tvda.eu/">TVDA</a>.</p>
		</div>
		
	</div>
	<!-- End Contact Page -->
	
	<script type="text/javascript">
    	function moveTo(contentArea){
        	var goPosition = $(contentArea).offset().top;
        	$('html,body').animate({ scrollTop: goPosition}, 'slow');
        }
    </script>
	
	<script type="text/javascript">
	  $(document).ready(function(){
	    $("a[rel^='prettyPhoto']").prettyPhoto();
	  });
	</script>
	
</body>