<div class="container demo-1">

 

		<div class="sl-slider">
		
			<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
				<div class="sl-slide-inner">
					<div class="deco" data-icon="">
						<img src="assets/moussamann.png" alt="Jay And Kev" />
					</div>
					<h2>Moussa Mann Wedding</h2>
					<div class="wow-content verse">
						<h3>June 8th, 2013</h3>
						<p>“Though one may be overpowered,</p>
						<p>two can defend themselves.</p>
						<p>A cord of three strands is not quickly broken.”</p>
						<p class="cite1">- Ecclesiastes 4:12</p>
					</div>
					
				</div>
			</div>
			
			<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
				<div class="sl-slide-inner">
					<div class="deco" data-icon="">
                        <img src="assets/mapmarker.png" alt="Location" />
                    </div>
					<h2>Selçuk, Izmir, Turkey</h2>
					<div class="wow-content white">
                        
                        <h3 class="white">Wedding Location</h3>
                        <br/><br/>
                        <img class="fadeImage" src="assets/map.png" />
                         <br/>
                        <p>We are really excited to be having an outdoor wedding. We all get to enjoy the wonderful sunshine and beautiful surrounds of Selçuk, Izmir in Turkey. Both the service and the recepition will be held in the same place, which we will confirm very early in the new year, so be sure to check back.</p>
                        <p>Selçuk is Hot! In June the average temperature is 31C (88F), but as the reception moves into the evening you may need a light cardigan. Although they will be lots of Turkish dancing to keep you warm!</p>
                        
                        <div style="font-size: 22px;">
                            <br />
                            <i class="icon-map-marker"></i>
                                <a class="white" href="http://goo.gl/maps/4XZyA" title="Selçuk to Izmir"> Map to Selçuk from Izmir airport</a><br />
                            <br />
                            <i class="icon-info-sign"></i>
                                <a class="white" href="http://wikitravel.org/en/Sel%C3%A7uk" title="Wiki Travel"> Find Out More About Selçuk via Wiki Travel</a>
                        </div>
                    </div>
				</div>
			</div>
			
			<div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
				<div class="sl-slide-inner">
					<div class="deco" data-icon="">
                        <img src="assets/bell.png" alt="Hotels" />
                    </div>
					<h2>Hotel Examples</h2>
					<div class="wow-content white">
						<p>Selçuk and the surrounding areas have many places to stay, but we wanted to give you a couple of suggestion too get you started, the prices are estimates which we last last checked December 6th.</p>
                        <h3 class="white">Hotel Kalehan</h3>
						<p>Kalehan is an antique hotel, built and landscaped in the style of a 100 year old farmhouse using traditional materials and antique furniture in traditional Anatolian style. Approx £62 for a double room per night with breakfast included</p>
                        <a class="white" href="http://www.tripadvisor.co.uk/Hotel_Review-g293976-d306337-Reviews-Hotel_Kalehan-Selcuk_Izmir_Province_Turkish_Aegean_Coast.html" title="Hotel Kalehan"> View The Hotel On Trip Advisor</a>
						<h3 class="white">Hotel Canberra</h3>
						<p>Canberra has a rooftop terrace with a panoramic view of the picturesque town. Free WiFi and lower cost with Turkish specialities made with fresh produce from the local farms served in the Canberra’s restaurant. Approx £23 double room per night (includes breakfast)</p>
						<p>Triple rooms here were as low as £30 per night (including breakfast) when we last checked.</p>
                        <a class="white" href="http://www.tripadvisor.co.uk/Hotel_Review-g293976-d658054-Reviews-Canberra_Hotel-Selcuk_Izmir_Province_Turkish_Aegean_Coast.html" title="Canberra Hotel"> View The Hotel On Trip Advisor</a>
					</div>
				</div>
			</div>

			<div class="sl-slide bg-4" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
				<div class="sl-slide-inner">
					<div class="deco" data-icon="">
                        <img src="assets/plane.png" alt="Flights" />
                    </div>
					<h2>Flight Examples</h2>
					<div class="wow-content white">
						<p>The nearest airport to Selçuk is Izmir Adnan Menderes (ADB) Airport. Outside of package holidays we found that Manchester is the best place to fly out from if you are based in the North-East England and below are example of the prices we found which it seemed to be best directly from the airlines website.</p>
						
						<h3 class="white">Luftansa</h3>
						<p>Manchester - Izmir Return: £179 per person</p>
						<p>Cheapest Tickets had outward flights on either June 5th/6th/7th with a return on June 10th/11th/12th </p>
						<a class="white" href="http://www.lufthansa.com/" title="Luftansa"> Visit Luthansa</a>
						<h3 class="white">Turkish Airlines</h3>
						<p>Manchester - Izmir Return: £234 per person</p>
						<p>Other than Luftansa if the flights start to be filled Turkish Airlines were the next best. </p>
						<a class="white" href="http://www.turkishairlines.com/en-uk/" title="Turkish Airlines"> Visit Turkish Airlines</a>
						<br/>
						<p>* Price estimates last checked Dec 6th</p>
					</div>
				</div>
			</div>
			
			<div class="sl-slide bg-5" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
				<div class="sl-slide-inner">
					<div class="deco" data-icon="">
                        <img src="assets/sun.png" alt="Location" />
                    </div>
					<h2 class="white">Package Examples</h2>
					<div class="wow-content white">
                        <p>With the beautiful resort town of Kuşadası just under 30 minutes away, you could turn the wedding to into a great holiday. Kusadasi is one of Turkey’s leading destinations, lots of sunshine and brimming with great activities, a wide array of entertainment options and stunning natural and historical attractions. This beautiful coastal region is lined with amazing sandy beaches, with the crystal clear waters of the Aegean lapping at the shore.</p>
						
						<h3 class="white">All inclusive 4 star-hotel</h3>
						<p>7 Days from £575 per person / 14 Days from £795 per person </p>
						<a class="white" href="http://www.thomascook.com/lp/1x6-enqklc/holidays-kusadasi" title="Thomas Cook"> Via Thomas Cook - Flying from Manchester</a>
						
						<h3 class="white">Aqua Fantasy All Inclusive Water Park</h3>
						<p>7 Days from £703 per person from Newcastle / 7 Days from £675 per person from Manchester </p>
						<a class="white" href="http://www.firstchoice.co.uk/holiday/accommodation/overview/Kusadasi/Aqua-Fantasy-Aquapark-Hotel-&-Spa-030078/?ib_id=First_Choice&ic_id=Hotel_Units_Broad_Match&ig_id=30078_-_aqua_fantasy&ik_id=aqua_fantasy_hotel&im_id=PPC&is_id=Google&it_id=EF&iu_id=Broad" title="Thomas Cook"> Via First Choice </a>
					</div>
					
				</div>
			</div>

<!-- 				<nav id="nav-dots" class="nav-dots">
			<span class="nav-dot-current"></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</nav> -->

	</div><!-- /slider-wrapper -->

</div>

<script type="text/javascript">	
	$(function() {
	
		var Page = (function() {

			var $navArrows = $( '#nav-arrows' ),
				$nav = $( '#nav-dots > span' ),
				slitslider = $( '#slider' ).slitslider( {
					onBeforeChange : function( slide, pos ) {
                        
						$nav.removeClass( 'nav-dot-current' );
						$nav.eq( pos ).addClass( 'nav-dot-current' );

					}
				} ),

				init = function() {

					initEvents();
					
				},
				initEvents = function() {

					// add navigation events
					$navArrows.children( ':last' ).on( 'click', function() {
                       
						slitslider.next();
						return false;

					} );

					$navArrows.children( ':first' ).on( 'click', function() {

						slitslider.previous();
						return false;

					} );

					$nav.each( function( i ) {
					
						$( this ).on( 'click', function( event ) {
							
							var $dot = $( this );
							
							if( !slitslider.isActive() ) {

								$nav.removeClass( 'nav-dot-current' );
								$dot.addClass( 'nav-dot-current' );
							
							}
							
							slitslider.jump( i + 1 );
							return false;
						
						} );
						
					} );

				};

				return { init : init };

		})();

		Page.init();

		/**
		 * Notes: 
		 * 
		 * example how to add items:
		 */

		/*
		
		var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');
		
		// call the plugin's add method
		ss.add($items);

		*/
	
	});
</script>