<div class="container demo-1">

    <div id="slider" class="sl-slider-wrapper">

		<div class="sl-slider">
		
			<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
				<div class="sl-slide-inner">
					<div class="deco" data-icon="">
						<img src="assets/moussamann.png" alt="Jay And Kev" />
					</div>
					<h2>Moussa Mann Wedding</h2>
					<div class="wow-content verse">
						<h3>June 8th, 2013</h3>
						<p>“Though one may be overpowered,</p>
						<p>two can defend themselves.</p>
						<p>A cord of three strands is not quickly broken.”</p>
						<p class="cite1">- Ecclesiastes 4:12</p>
					</div>
					
				</div>
			</div>
			
			<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
				<div class="sl-slide-inner">
					<div class="deco" data-icon="">
                        <img src="assets/mapmarker.png" alt="Location" />
                    </div>
					<h2>Selcuk, Izmir, Turkey</h2>
					<div class="wow-content white">
                        <img class="fadeImage" src="assets/map.png" />
                        <h3 class="white">Wedding Location</h3>
                        <p>In publishing and graphic design, lorem ipsum[1] is placeholder text (filler text) commonly used to demonstrate the graphics elements of a document or visual presentation, such as font, typography, and layout, by removing the distraction of meaningful content. The lorem ipsum text is typically a section of a Latin text by Cicero with words altered, added and removed that make it nonsensical in meaning and not proper Latin.[1]</p>
                        <div style="font-size: 22px;">
                            <br />
                            <i class="icon-map-marker"></i>
                                <a class="white" href="http://goo.gl/maps/4XZyA" title="Selçuk to Izmir"> Map to Selçuk from Izmir airport</a><br />
                            <br />
                            <i class="icon-info-sign"></i>
                                <a class="white" href="http://goo.gl/maps/4XZyA" title="Selçuk to Izmir"> Find Out More About Selçuk</a>
                        </div>
                    </div>
				</div>
			</div>
			
			<div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
				<div class="sl-slide-inner">
					<div class="deco" data-icon="">
                        <img src="assets/bell.png" alt="Hotels" />
                    </div>
					<h2>Hotel Examples</h2>
					<div class="wow-content white">
						<p>* Price estimates last checked Dec 6th  In publishing and graphic design, lorem ipsum[1] is placeholder text (filler text) commonly used to demonstrate the graphics elements of a document or visual presentation, such as font, typography, and layout, by removing the distraction of meaningful content. The lorem ipsum text is typically a section of a Latin text by Cicero with words altered, added and removed that make it nonsensical in meaning and not proper Latin.[1]</p>
                        <h3 class="white">Kalahan</h3>
						<p>Approx £62 db per night (breakfast included)</p>
                        <a class="white" href="http://www.tripadvisor.co.uk/Hotel_Review-g293976-d306337-Reviews-Hotel_Kalehan-Selcuk_Izmir_Province_Turkish_Aegean_Coast.html" title="Hotel Kalehan"> View The Hotel On Trip Advisor</a>
						<h3 class="white">Canberra</h3>
						<p>£23 db per night (includes breakfast)</p>
						<p>£30 triple per night (includes breakfast)</p>
                        <a class="white" href="http://www.tripadvisor.co.uk/Hotel_Review-g293976-d658054-Reviews-Canberra_Hotel-Selcuk_Izmir_Province_Turkish_Aegean_Coast.html" title="Canberra Hotel"> View The Hotel On Trip Advisor</a>

					</div>
				</div>
			</div>

			<div class="sl-slide bg-4" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
				<div class="sl-slide-inner">
					<div class="deco" data-icon="">
                        <img src="assets/plane.png" alt="Flights" />
                    </div>
					<h2>Flight Examples</h2>
					<div class="wow-content white">
						<p>In publishing and graphic design, lorem ipsum[1] is placeholder text (filler text) commonly used to demonstrate the graphics elements of a document or visual presentation, such as font, typography, and layout, by removing the distraction of meaningful content. The lorem ipsum text is typically a section of a Latin text by Cicero with words altered, added and removed that make it nonsensical in meaning and not proper Latin.[1]</p>
						<h3 class="white">Turkish Airlines</h3>
						<p>Manchester-Izmir Return: £234 per person</p>
						<p>Visit the site</p>
						<h3 class="white">Luftansa</h3>
						<p>Manchester-Izmir Return: £179 per person</p>
						<p>Out Flights: June 5th/6th/7th</p>
						<p>Home Flights: June 10th/11th/12th</p>
						<p>Visit the site</p>
						<p>* Price estimates last checked Dec 6th</p>
					</div>
				</div>
			</div>
			
			<div class="sl-slide bg-5" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
				<div class="sl-slide-inner">
					<div class="deco" data-icon="">
                        <img src="assets/sun.png" alt="Location" />
                    </div>
					<h2 class="white">Package Examples</h2>
					<div class="wow-content white">
                        <p>In publishing and graphic design, lorem ipsum[1] is placeholder text (filler text) commonly used to demonstrate the graphics elements of a document or visual presentation, such as font, typography, and layout, by removing the distraction of meaningful content. The lorem ipsum text is typically a section of a Latin text by Cicero with words altered, added and removed that make it nonsensical in meaning and not proper Latin.[1]</p>
						<h3 class="white">Turkish Airlines</h3>
						<p>Manchester-Izmir Return: £234 per person</p>
						<p>Visit the site</p>
						<h3 class="white">Luftansa</h3>
						<p>Manchester-Izmir Return: £179 per person</p>
						<p>Out Flights: June 5th/6th/7th</p>
						<p>Home Flights: June 10th/11th/12th</p>
						<p>Visit the site</p>
						<p>* Price estimates last checked Dec 6th</p>
					</div>
					
				</div>
			</div>
			
		</div><!-- /sl-slider -->
		
		<nav id="nav-arrows" class="nav-arrows">
			<span class="nav-arrow-prev">Previous</span>
			<span class="nav-arrow-next">Next</span>
		</nav>

<!-- 				<nav id="nav-dots" class="nav-dots">
			<span class="nav-dot-current"></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</nav> -->

	</div><!-- /slider-wrapper -->

</div>

<script type="text/javascript">	
	$(function() {
	
		var Page = (function() {

			var $navArrows = $( '#nav-arrows' ),
				$nav = $( '#nav-dots > span' ),
				slitslider = $( '#slider' ).slitslider( {
					onBeforeChange : function( slide, pos ) {
                        
						$nav.removeClass( 'nav-dot-current' );
						$nav.eq( pos ).addClass( 'nav-dot-current' );

					}
				} ),

				init = function() {

					initEvents();
					
				},
				initEvents = function() {

					// add navigation events
					$navArrows.children( ':last' ).on( 'click', function() {
                       
						slitslider.next();
						return false;

					} );

					$navArrows.children( ':first' ).on( 'click', function() {

						slitslider.previous();
						return false;

					} );

					$nav.each( function( i ) {
					
						$( this ).on( 'click', function( event ) {
							
							var $dot = $( this );
							
							if( !slitslider.isActive() ) {

								$nav.removeClass( 'nav-dot-current' );
								$dot.addClass( 'nav-dot-current' );
							
							}
							
							slitslider.jump( i + 1 );
							return false;
						
						} );
						
					} );

				};

				return { init : init };

		})();

		Page.init();

		/**
		 * Notes: 
		 * 
		 * example how to add items:
		 */

		/*
		
		var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');
		
		// call the plugin's add method
		ss.add($items);

		*/
	
	});
</script>